---
layout: default
title: Main Page
---
<h1>The Soccer Coaching Odyssey</h1>

<p>This site serves the purpose of sharing my development as a soccer coach. It is my hope that, in sharing this, others will benefit, as well as, provide me with useful feedback. The topics of posts range from training sessions to tactical theory to physiological and psychological development of youth players. Alongside the posts, I am creating my own guidebook that covers every aspect of coaching that I have touched upor so far. It will continually be added to and revised, but will always be available for you to read and draw from.</p>

{% for post in paginator.posts %}
<div class="row">
    <div class="col-md-12">
        <h2>{{ post.title }}</h2>
        <h4>{{ post.date | date_to_long_string }}</h4>
        <p>
            <a href="{{ post.url }}">Read Post</a>
        </p>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <ul class="pagination">
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                    <li><a href="/">Prev</a></li>
                {% else %}
                    <li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
                {% endif %}
            {% else %}
            <li class="disabled"><a href="#">Prev</a></li>
            {% endif %}
            {% if paginator.page == 1 %}
            <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="/">1</a></li>
            {% endif %}
            {% for count in (2..paginator.total_pages) %}
                {% if count == paginator.page %}
                <li class="active"><a href="#">{{ count }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="/page{{ count }}">{{ count }}</a></li>
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <li><a href="/page{{ paginator.next_page }}">Next</a></li>
            {% else %}
                <li class="disabled"><a href="#">Next</a></li>
            {% endif %}
        </ul>
    </div>
</div>
